body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 1fr;
}

h1,
h2 {
  margin: 0;
}

#book-form {
  z-index: 1;
  padding: 20px;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.2);
}

#book-form input {
  height: 24px;
  border: none;
  border-bottom: 1px solid #d6d9e1;
}

#book-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #55a2e6;
}

#book-form input:focus:invalid {
  outline: none;
  border: none;
  border-bottom: 1px solid #e65555;
}

.form-field {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

#book-form ul {
  padding: 0 0 20px 0;
  margin: 16px 0 32px 0;
  border-bottom: 1px solid #d6d9e1;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

#book-form li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

#book-form input[type="radio"] {
  position: relative;
  margin: 0;
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #d6d9e1;
  border-radius: 50%;
}

#book-form input[type="radio"]:checked::before {
  position: absolute;
  top: -0.1rem;
  color: #43b660;
  font-weight: bold;
  font-size: 1.5em;
  content: "✓";
}

#book-form li label:hover,
#book-form input[type="radio"]:hover {
  cursor: pointer;
}

#book-form input[type="radio"]:hover:not(:checked) {
  background-color: #d6d9e1;
}

.add-book-btn {
  height: 36px;
  width: 180px;
  color: #fff;
  font-weight: bold;
  background-color: #884288;
  border: none;
  border-radius: 4px;
}

.add-book-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
}

.add-book-btn:active {
  background-color: #bf7cbf;
}

.library-container {
  background-color: #ffeed2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: start;
  gap: 30px;
  flex-wrap: wrap;
  overflow: auto;
}

.book-cover {
  width: 200px;
  height: 300px;
  padding: 8px 12px 32px;
  color: #fff;
  text-align: center;
  background-color: #884288;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  border-radius: 5px;

  transition: transform 0.8s;
  transform-origin: left;

  display: grid;
  grid-template-rows: repeat(3, auto);
  align-content: center;
}

.book-cover p {
  font-size: 18px;
  margin: 16px 0 8px;
}

.book {
  width: 200px;
  height: 300px;
  background-color: #f9f8f4;
  position: relative;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-left: 16px;
  box-shadow: 2px 2px 4px 2px rgb(0, 0, 0, 0.2);

  display: grid;
  grid-template: 24px auto auto 34px / 1fr;
  justify-content: center;
}

.book:hover {
  .book-cover {
    transform: scale(0.08, 1);
  }
}

.book-title {
  font-size: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  align-self: center;
}

.book-author {
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book > .book-title {
  margin: 0 8px;
}

.book-pages {
  font-size: 20px;
}

.delete-btn {
  background-color: rgb(0, 0, 0, 0);
  color: #e65555;
  font-size: 100%;
  border: none;
  justify-self: flex-end;
}

.delete-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.read-btn {
  color: #303030;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  border-top: 1px solid #ebe4c9;
}

.read-btn:hover {
  cursor: pointer;
  background-color: #ebe4c9;
}
